<!DOCTYPE html>
<html>
  <head>
    <title>Cinemation Remote Web I/O</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="DataSoft Srl" >
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      body { text-align: center; }
      header { font-family: sans-serif, monospace; vertical-align: middle; background: #000; background: linear-gradient(#222, #000) repeat scroll 0% 0% transparent; border-bottom: 4px solid #bd1143; padding: 8px; margin-bottom: 16px; }
      header h1 { color: white; font-size: 32px; margin: 0; }
      header h2 { font-size: 18px; color: #444; }
      .settings { position: absolute; top: 22px; right: 15px; width: 30px; }
      .settings img { width: 100%; display: block; }
      .settings a, .settings a:hover { color: white }
      .piface { margin: 0px auto; margin-bottom: 42px; width: 60%; padding: 0px 20px; }
      #outputs { margin-top: 20px; }
      .field { margin: 5px auto; width: 100%; }
      .field label { display: inline-block; width: 10%; text-align: left }
      .field input { width: 50%; margin: 0px auto; }
      .buttons { text-align: center; margin-top: 20px; }
      .buttons input { min-width: 100px; }
      input[type="text"] { text-align: center; background: #bd1143; border: 3px solid black; border-radius: 4px; padding: 4px; color: white; font-size: 18px; font-family: monospace; }
      @media only screen and (max-width: 1024px) {
        .piface { width: 80%; }
        .piface input { margin: 5px auto; width: 100%; }
        .field label { display: initial; width: initial; }
        .field input { display: block; }
      }
    </style>
  </head>

<body>
  <header>
    <div class="settings">
      <a href="/">
        Back
      </a>
    </div>
    <h1 id="title">Cinemation</h1>
    <h2>Settings</h2>
  </header>
  <div id="con_div">
    <input type="hidden" id="host" value="{{ ip }}" />
  </div>

  <div class="piface">
    <div id="info">
      <h2>Info</h2>
      <div class="field">
        <label for="set_title">Title: </label>
        <input type="text" id="set_title" value="" maxlength="20" />
      </div>
      <div class="field">
        <label for="set_title">Subtitle: </label>
        <input type="text" id="set_subtitle" value="" maxlength="20" />
      </div>
      <div class="field">
        <label for="set_title">Page title: </label>
        <input type="text" id="set_pagetitle" value="" maxlength="20" />
      </div>
    </div>
    <div id="inputs">
      <h2>Input names</h2>
      <div class="field">
        <label for="input_0">Input 1: </label>
        <input type="text" id="input_0" value="" maxlength="10" />
      </div>
      <div class="field">
        <label for="input_1">Input 2: </label>
        <input type="text" id="input_1" value="" maxlength="10" />
      </div>
      <div class="field">
        <label for="input_2">Input 3: </label>
        <input type="text" id="input_2" value="" maxlength="10" />
      </div>
      <div class="field">
        <label for="input_3">Input 4: </label>
        <input type="text" id="input_3" value="" maxlength="10" />
      </div>
      <div class="field">
        <label for="input_4">Input 5: </label>
        <input type="text" id="input_4" value="" maxlength="10" />
      </div>
      <div class="field">
        <label for="input_5">Input 6: </label>
        <input type="text" id="input_5" value="" maxlength="10" />
      </div>
      <div class="field">
        <label for="input_6">Input 7: </label>
        <input type="text" id="input_6" value="" maxlength="10" />
      </div>
      <div class="field">
        <label for="input_7">Input 8: </label>
        <input type="text" id="input_7" value="" maxlength="10" />
      </div>
    </div>
    <div id="outputs">
      <h2>Output names</h2>
        <div class="field">
          <label for="output_0">Output 1: </label>
          <input type="text" id="output_0" value="" maxlength="10" />
        </div>
        <div class="field">
          <label for="output_1">Output 2: </label>
          <input type="text" id="output_1" value="" maxlength="10" />
        </div>
        <div class="field">
          <label for="output_2">Output 3: </label>
          <input type="text" id="output_2" value="" maxlength="10" />
        </div>
        <div class="field">
          <label for="output_3">Output 4: </label>
          <input type="text" id="output_3" value="" maxlength="10" />
        </div>
        <div class="field">
          <label for="output_4">Output 5: </label>
          <input type="text" id="output_4" value="" maxlength="10" />
        </div>
        <div class="field">
          <label for="output_5">Output 6: </label>
          <input type="text" id="output_5" value="" maxlength="10" />
        </div>
        <div class="field">
          <label for="output_6">Output 7: </label>
          <input type="text" id="output_6" value="" maxlength="10" />
        </div>
        <div class="field">
          <label for="output_7">Output 8: </label>
          <input type="text" id="output_7" value="" maxlength="10" />
        </div>
    </div>
    <div class="buttons">
      <input type="reset" onclick="reset_inputs()" value="Reset" />
      <input type="submit" onclick="send_names(); send_info();" value="Save" />
    </div>
  </div>
<footer class="footer"></footer>
<script>
let names = null;
let info =  null;
let host = document.getElementById('host').value;
ws = new WebSocket(`ws://${host}:8888/ws`);

ws.onmessage = function(evt) {
  console.log("Received message: " + evt.data)
  let data = JSON.parse(evt.data);

  if ("names" in data) {
    names = data.names;
    initial_names(names);
  } else if ("info" in data) {
    info = data.info;
    update_info(info)
  }
};

ws.onclose = function(evt) {
  console.log("Connection closed");
};

ws.onopen = function(evt) {
  console.log("WebSocket opened")
};

function reset_inputs() {
  initial_names(names);
  update_info(info);
}

function initial_names(names) {
  for (var curr=1; curr<=8; curr++) {
    prev = curr-1;

    // input
    let input_name = names.inputs["input" + curr];
    document.getElementById('input_' + prev).value = input_name;
    
    // output
    let output_name = names.outputs['output' + curr];
    document.getElementById('output_' + prev).value = output_name;
  }
}

function send_names() {
  let names = {
    inputs: {},
    outputs: {}
  };

  for (var curr=1; curr<=8; curr++) {
    prev = curr-1;

    // input
    let input_value = document.getElementById('input_' + prev).value;
    names.inputs["input" + curr] = input_value;

    // output
    let output_value = document.getElementById('output_' + prev).value;
    names.outputs["output" + curr] = output_value;
  }

  const message = JSON.stringify({ names: names });
  ws.send(message);
  console.log("Sent message: " + message);
}

function update_info(info) {
  // title
  document.getElementById('title').innerText = info.title;
  document.getElementById('set_title').value = info.title;

  // subtitle
  document.getElementById('set_subtitle').value = info.subtitle;

  // page title
  document.title = info.pagetitle;
  document.getElementById('set_pagetitle').value = info.pagetitle;
}

function send_info() {
  const message = JSON.stringify({ info: {
    title: document.getElementById('set_title').value,
    subtitle: document.getElementById('set_subtitle').value,
    pagetitle: document.getElementById('set_pagetitle').value
  }});

  ws.send(message);
  console.log("Sent message: " + message);
}
</script>

</body>
</html>